:root {
  --ifm-color-primary: #b85a67;
  --ifm-color-primary-dark: #a54d5a;
  --ifm-color-primary-darker: #964552;
  --ifm-color-primary-darkest: #7d3944;
  --ifm-color-primary-light: #c4707c;
  --ifm-color-primary-lighter: #cf8892;
  --ifm-color-primary-lightest: #e0aeb5;
  --ifm-background-color: #f8f7f5;
  --ifm-font-color-base: #1c1c1e;
  --ifm-navbar-background-color: rgba(255, 252, 249, 0.95);
  --ifm-footer-background-color: #f3eeeb;
  --ifm-code-font-size: 95%;
}
